@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
	font-family: "Lato", sans-serif;
}

/* background: linear-gradient(180deg, #1127E3 0%, #7A46FD 100%) */

@layer components {
	.nav-item {
		@apply cursor-pointer hover:border-b-[5px] hover:border-b-[blue] sm:text-[15px] text-[12px];
	}
	.active {
		@apply border-b-[5px] border-b-[blue];
	}
}
.noscrollbar::-webkit-scrollbar {
	display: none;
}

.transit {
	transition: all 1s;
	animation: anime 1s;
}

@keyframes anime {
	from {
		height: 0%;
		opacity: 0;
	}
	to {
		height: 90%;
		opacity: 1;
	}
}
